/* --- Reset & Base Styles --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}




/* Header */
header {
  background: #222;
  color: #fff;
  padding: 8px 32px;   
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;       /* centers vertically */
  justify-content: space-between;
}

/* Logo */
.logo img {
  height: 50px;   /* adjust size */
  width: auto;
  margin-left: 155px;
  display: block;
}

.right-photo img {
  height: 50px;
  width: auto;
  margin-right: 155px;
  display: block;
  border-radius: 30px;
}

/* Center Links */
nav ul {
  display: flex;
  gap: 32px;  
  margin-left: auto;
  margin-right: 16px;  
  list-style: none;
  padding: 0;
}

nav a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff9800;
}
/* main */
.example {
  margin: 0 auto;
  width: 1000px;
  background-color: #ffffff5b;
  padding: 15PX;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.title {
  text-align: center;
}
.list {
  margin-left: 20px;
}
/* iframe */
.details{
  display: flex;
  justify-content: center;
  background-color: #ff9800;
  padding: 20px;
}
.border{
  border: 5px solid #ff9800;
}
/* --- Footer --- */
footer {
  background: #222;
  color: #ddd;
  padding: 24px;   
  text-align: center;
  margin-top: 48px;   
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 24px;   
  margin-top: 8px;   
}

footer a {
  color: #ff9800;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #fff;
}

.copyright {
  text-align: center;
}
