/* --- Base Styles --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  line-height: 1.6;
  background-image: url("../images/bg1.jpg");
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* Header */
header {
  background: #222;
  color: #fff;
  padding: 8px 32px;  
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  align-items: center;       /* centers vertically */
  justify-content: space-between;
}

/* Logo */
.logo img {
  height: 50px;   /* adjust size */
  width: auto;
  margin-left: 155px;
  display: block;
}

.right-photo img {
  height: 50px;
  width: auto;
  margin-right: 155px;
  display: block;
  border-radius: 30px;
}

/* Center Links */
nav ul {
  display: flex;
  gap: 32px;   
  margin-left: auto;
  margin-right: 16px;   
  list-style: none;
  padding: 0;
}

nav a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff9800;
}

/* --- Main Layout --- */
main {
  max-width: 1200px;
  margin: auto;
  padding: 32px;   
}

.resume-photo {
  display: inline;
  height: 130px;   /* adjust size */
  width: auto;
  float: right;
}

section {
  margin: 48px auto;   
  padding: 32px;      
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  width: 1136px;      
  background: #fff;    /* white card effect */
}

h1, h3 {
  margin-bottom: 16px; 
  color: #222;
  border-bottom: 2px solid #ff9800;
  display: inline-block;
  padding-bottom: 5px;   
}

p {
  margin-bottom: 16px;  
  text-align: justify;
  width: 800px;
}

.resume-bullet {
  margin: 16px 0 16px 32px;   
  list-style: disc;
}

.resume-bullet li {
  margin-bottom: 8px;   
}

/* --- Footer --- */
footer {
  background: #222;
  color: #ddd;
  padding: 24px;   
  text-align: center;
  margin-top: 48px;   
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 24px;   
  margin-top: 8px;   
}

footer a {
  color: #ff9800;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #fff;
}

.copyright {
  text-align: center;
}


